<head>
    <link rel="stylesheet" href="/categories.css">
</head>

<body>
    <h1 class="my-5">Магазин "ZLAGODA"</h1>
    <h2>№{{checknumber}}</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="check">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>UPC</th>
                                <th>Назва товару</th>
                                <th>Кількість</th>
                                <th>Ціна</th>
                                <th>Вартість</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="categories-table">
                        <tbody id="categories-table">
                            {{#each sale}}
                           <tr>
 <td>{{UPC}}</td>
    <td>{{product_name}}</td>
    <td>{{product_number}}</td>
    <td>{{seling_price}}</td>
    <td>{{total_cost}}</td>
  </tr>
                            {{/each}}
                        </tbody>

                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Підключаємо jQuery та Bootstrap JS -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>