<head>
    <link rel="stylesheet" href="/employees.css">
</head>

<body>
      </div>
    <h1 class="my-5">Чеки</h1>
    <form action="/checks" method="POST">
        {{#if iscashier}}
        <a href="/checks/add" class="btn btn-primary">Додати новий чек</a>
        {{/if}}
        <div class="input-group">
                <div class="container">
                        <input type="text" id="searchnumber" name="searchnumber" class="form-control"
                            placeholder="Введіть номер чеку...">
                        <span id="search_result"></span>
                        <button class="btn btn-outline-secondary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
{{#if ismanager}}
        <div id="select-position">
               <div class="form-group">
                <label for="searchbycategory">Пошук за прізвищем касира:</label>
                <select id="searchbycategory" name="searchbycategory" class="form-control" required>
                    <option value="none"></option>
                    {{#each employees}}
                    <option value="{{this.id_employee}}"> {{this.empl_surname}}</option>
                    {{/each}}
                </select>
            </div>
            {{/if}}
                <label for="startDate">За період:</label>
                <input type="date" id="startDate" name="startDate">
                <input type="date" id="endDate" name="endDate">
                 {{#if iscashier}}
                  <button id="today" class="btn btn-primary btn-sm">Продажі за сьогодні</button>
                  {{/if}}
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>

  <script>
            function load_data(query = '') {
                fetch('/checks/get_data?search_query=' + query + '').then(function (res) {
                    return res.json();
                }).then(function (responseData) {
                    var html = '<ul class="list-group">';

                    if (responseData.length > 0) {
                        for (var count = 0; count < responseData.length; count++) {
                            var regular_expression = new RegExp('(' + query + ')', 'gi');
                            html += '<a href="#" class="list-group-item list-group-item-action" onclick="get_text(this)">' + responseData[count].check_number.replace(regular_expression, '<span class="text-primary fw-bold">$1</span>') + '</a>';
                        }
                    } else {
                        html += '<a href="#" class="list-group-item list-group-item-action disabled">Чеків не знайдено</a>';
                    }

                    html += '</ul>';

                    document.getElementById('search_result').innerHTML = html;
                    if (query === '') {
                        document.getElementById('search_result').style.display = 'none';
                    } else {
                        document.getElementById('search_result').style.display = 'block';
                    }
                });
            }

            var search_element = document.getElementById("searchnumber");

            search_element.onkeyup = function () {
                var query = search_element.value;
                load_data(query);
            };

            search_element.onfocus = function () {
                var query = search_element.value;
                load_data(query);
            };

            function get_text(event) {
                var check_number = event.textContent;
                console.log(product_name);
                document.getElementById('searchnumber').value = check_number;
                document.getElementById('search_result').innerHTML = '';
                document.getElementById('search_result').style.display = 'none';
            }
        </script>
  </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Номер чеку</th>
                    <th>Прізвище працівника</th>
                    <th>Дата створення</th>
                    <th>Сума покупки</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="checks-table">
                {{#each checks}}
                <tr>
                    <td>{{this.check_number}}</td>
                    <td>{{this.empl_surname}}</td>
                    <td>{{formatDate this.print_date}}</td>
                    <td>{{this.sum_total}}</td>
                    <td>
                        <a href="checks/details/{{this.check_number}}" class="btn btn-primary btn-sm">Детальніше...</a>
                        <a href="/checks/delete/{{this.check_number}}" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <p class="mt-3">Всього: <span id="totalAmount"></span></p>

<script>
    function calculateTotalAmount() {
    var sum = 0;
    var amountElements = document.querySelectorAll("#checks-table td:nth-child(4)");

    amountElements.forEach(function (element) {
        var amount = parseFloat(element.textContent);
        if (!isNaN(amount)) {
            sum += amount;
        }
    });

    document.getElementById("totalAmount").textContent = sum.toFixed(2);
}
document.addEventListener("DOMContentLoaded", function () {
    calculateTotalAmount();
});

// Оновлюємо суму при кожній зміні таблиці
var checksTable = document.getElementById("checks-table");
checksTable.addEventListener("DOMSubtreeModified", function () {
    calculateTotalAmount();
});

</script>

    <!-- Підключаємо jQuery та Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
