<head>
    <link rel="stylesheet" href="/profile.css">
</head>

<body>
    <h1 class="my-5">Чек</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="profile">
                    <div class="record">
                        <span class="label">Логін:</span>
                        
                    </div>
                    <div class="record">
                        <span class="label">Ім'я:</span>
                        <span class="value">{{this.empl_name}}</span>
                    </div>
                    <div class="record">
                        <span class="label">Прізвище:</span>
                        <span class="value">{{this.empl_surname}}</span>
                    </div>
                    <div class="record">
                        <span class="label">По батькові:</span>
                        <span class="value">{{this.empl_patronymic}}</span>
                    </div>
                    <div class="record">
                        <span class="label">Дата народження:</span>
                        <span class="value">{{this.date_of_birth}}</span>
                    </div>
                    <div class="record">
                        <span class="label">Посада:</span>
                        <span class="value">{{this.empl_role}}</span>
                    </div>
                    <div class="record">
                        <span class="label">Зарплатня:</span>
                        <span class="value">{{this.salary}}</span>
                    </div>
                    <div class="record">
                        <span class="label">Початок роботи в магазині:</span>
                        <span class="value">{{this.date_of_start}}</span>
                    </div>
                    <div class="record">
                        <span class="label">Тел:</span>
                        <span class="value">{{this.phone_number}}</span>
                    </div>
                    <div class="record">
                        <span class="label">Місто:</span>
                        <span class="value">{{this.city}}</span>
                    </div>
                    <div class="record">
                        <span class="label">Вулиця:</span>
                        <span class="value">{{this.street}}</span>
                    </div>
                    <div class="record">
                        <span class="label">Поштовий індекс:</span>
                        <span class="value">{{this.zip_code}}</span>
                    </div>
                </div>
                <a href="/profile/change-password" class="btn btn-primary">Змінити пароль</a>
            </div>
        </div>
    </div>

    <!-- Підключаємо jQuery та Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
