<head>
  <link rel="stylesheet" href="/customers.css">
</head>

<div class="container" id="more" onclick="myFunction(this)">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>

<div id="settings">
{{#if ismanager}}
<button id="reportBtn" class="btn btn-primary btn-sm">Customers report</button>

{{else}}
{{/if}}

<a href="/customers/add" class="btn btn-primary">Add new customer</a>


<form action="/customers" method="POST">
  <input type="text" id="searchpercent" name="searchpercent" class="form-control" placeholder="Search by percent">
  <button class="btn btn-outline-secondary" type="submit">
    <i class="fas fa-search"></i>
  </button>
</form>
</div>  




<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Card number</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Patronymic</th>
        <th>Phone number</th>
        <th>City</th>
        <th>Street</th>
        <th>Zip-code</th>
        <th>Percent</th>
        <th ></th>

      </tr>
    </thead>
    <tbody id="customers-table">
      {{#each customers}}
      <tr>
        <td>{{this.card_number}}</td>
        <td>{{this.cust_name}}</td>
        <td>{{this.cust_surname}}</td>
        <td>{{this.cust_patronymic}}</td>
        <td>{{this.phone_number}}</td>
        <td>{{this.city}}</td>
        <td>{{this.street}}</td>
        <td>{{this.zip_code}}</td>
        <td>{{this.percent}}</td>

        <td>
          <div class="btn-group" role="group">
          <a href="customers/edit/{{this.card_number}}" class="btn btn-success btn-sm"><i
              class="fas fa-pencil-alt"></i></a>
          {{#if ../ismanager}}
          <a href="customers/delete/{{this.card_number}}" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></a>
          {{else}}
          {{/if}}</div>
        </td>

      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function () {
    $('#reportBtn').on('click', function () {
      window.open('/customers/report', '_blank');
    });
  });
  
  var settingsDiv = document.getElementById("settings");
    settingsDiv.style.display = "none";

  function myFunction(x) {
    x.classList.toggle("change");
    var settingsDiv = document.getElementById("settings");

    // Toggle the visibility of the settings div
    if (settingsDiv.style.display === "none") {
      settingsDiv.style.display = "block";
    } else {
      settingsDiv.style.display = "none";
    }
  }
</script>

</div>
<!-- Підключаємо jQuery та Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>