<head>
    <link rel="stylesheet" href="/create.css">
</head>

<body>
    <h2 class="mt-5">Edit product {{idproduct}}</h2>
    <form action="/products/edit/{{idproduct}}/editing" method="POST">
        <div class="form-group">
            <select id="editcategory" name="editcategory" class="form-control" required>
                {{#each categories}}
                <option value="{{this.category_number}}"> {{this.category_name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="editproductname">Product name:</label>
            <input type="text" id="editproductname" name="editproductname" value="{{product.product_name}}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="editproductcharacteristics">Characteristics:</label>
            <input type="text" id="editproductcharacteristics" name="editproductcharacteristics" value="{{product.caracteristics}}" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>