<head>
    <link rel="stylesheet" href="/employees.css">
    <script>
        var today = new Date().toISOString().split('T')[0];
    </script>
</head>

<body>

    <div class="container" id="more" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>

    <div id="settings">
        <button id="reportBtn" class="btn btn-primary btn-sm">Employees report</button>
        <a href="/employees/add" class="btn btn-primary">Add employee</a>


        <form action="/employees" method="POST">
            <input type="text" id="searchsurname" name="searchsurname" class="form-control"
                placeholder="Enter employee surname...">
            <span id="search_result"></span>
            <button class="btn btn-outline-secondary" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>



        <form action="/employees" method="POST">
            <label for="occupation">Search by role:</label>
            <select id="occupation" name="occupation">
                <option value="none"></option>
                <option value="manager">Manager</option>
                <option value="cashier">Cashier</option>
            </select>

            <button class="btn btn-outline-secondary" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>



    <script>
        function load_data(query = '') {
            fetch('/employees/get_data?search_query=' + query + '').then(function (res) {
                return res.json();
            }).then(function (responseData) {
                var html = '<ul class="list-group">';

                if (responseData.length > 0) {
                    for (var count = 0; count < responseData.length; count++) {
                        var regular_expression = new RegExp('(' + query + ')', 'gi');
                        html += '<a href="#" class="list-group-item list-group-item-action" onclick="get_text(this)">' + responseData[count].empl_surname.replace(regular_expression, '<span class="text-primary fw-bold">$1</span>') + '</a>';
                    }
                } else {
                    html += '<a href="#" class="list-group-item list-group-item-action disabled">Працівників не знайдено</a>';
                }

                html += '</ul>';
                document.getElementById('search_result').innerHTML = html;
                if (query === '') {
                    document.getElementById('search_result').style.display = 'none';
                } else {
                    document.getElementById('search_result').style.display = 'block';
                }
            });
        }

        var search_element = document.getElementById("searchsurname");

        search_element.onkeyup = function () {
            var query = search_element.value;
            load_data(query);
        };

        search_element.onfocus = function () {
            var query = search_element.value;
            load_data(query);
        };

        function get_text(event) {
            var product_name = event.textContent;
            console.log(product_name);
            document.getElementById('searchsurname').value = empl_surname;
            document.getElementById('search_result').innerHTML = '';
            document.getElementById('search_result').style.display = 'none';
        }

        var settingsDiv = document.getElementById("settings");
        settingsDiv.style.display = "none";


        function myFunction(x) {
            x.classList.toggle("change");
            var settingsDiv = document.getElementById("settings");

            // Toggle the visibility of the settings div
            if (settingsDiv.style.display === "none") {
                settingsDiv.style.display = "block";
            } else {
                settingsDiv.style.display = "none";
            }
        }
    </script>


    <div class="table-responsive">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Patronymic</th>
                    <th>Role</th>
                    <th>Salary</th>
                    <th>Date of birth</th>
                    <th>Date of start</th>
                    <th>Phone number</th>
                    <th>City</th>
                    <th>Street</th>
                    <th>Zip-code</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="employees-table">
                {{#each employees}}
                <tr>
                    <td>{{this.id_employee}}</td>
                    <td>{{this.empl_name}}</td>
                    <td>{{this.empl_surname}}</td>
                    <td>{{this.empl_patronymic}}</td>
                    <td>{{this.empl_role}}</td>
                    <td>{{this.salary}}</td>
                    <td>{{formatDate this.date_of_birth}}</td>
                    <td>{{formatDate this.date_of_start}}</td>
                    <td>{{this.phone_number}}</td>
                    <td>{{this.city}}</td>
                    <td>{{this.street}}</td>
                    <td>{{this.zip_code}}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a href="employees/edit/{{this.id_employee}}" class="btn btn-success btn-sm"><i
                                    class="fas fa-pencil-alt"></i></a>
                            <a href="employees/delete/{{this.id_employee}}" class="btn btn-danger btn-sm"><i
                                    class="fa fa-times"></i></a>
                        </div>
                    </td>
                </tr>
                {{/each}}

            </tbody>


        </table>

    </div>
    <script>
        $(document).ready(function () {
            $('#reportBtn').on('click', function () {
                window.open('/employees/report', '_blank');
                // Hide the settings div initially

            });
        });
        var settingsDiv = document.getElementById("settings");
        settingsDiv.style.display = "none";

        function myFunction(x) {
            x.classList.toggle("change");
            var settingsDiv = document.getElementById("settings");

            // Toggle the visibility of the settings div
            if (settingsDiv.style.display === "none") {
                settingsDiv.style.display = "block";
            } else {
                settingsDiv.style.display = "none";
            }
        }

    </script>
    <!-- Підключаємо jQuery та Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>