<head>
    <link rel="stylesheet" href="/employees.css">
     <script>
        var today = new Date().toISOString().split('T')[0];
    </script>
</head>

<body>
    <h1 class="my-5">Працівники</h1>
    <button id="reportBtn" class="btn btn-primary btn-sm">Звіт</button>
    <div class="container">
        <a href="/employees/add" class="btn btn-primary">Додати нового працівника</a>
        <div class="col-md-4">
            <div class="input-group">
                <form action="/employees" method="POST">
                <div class="input-group">
                 <div class="container">
                    <input type="text" id="searchsurname" name="searchsurname" class="form-control"
                        placeholder="Введіть прізвище працівника...">
                        <span id="search_result"></span>
                        </div>
                        </div>
                </form>
            </div>
        </div>

        <div id="select-position">
            <form action="/employees" method="POST">
                <label for="occupation">Пошук за посадою:</label>
                <select id="occupation" name="occupation">
                    <option value="none"></option>
                    <option value="manager">Менеджер</option>
                    <option value="cashier">Касир</option>
                </select>
                
    {{#if ismanager}}
    <label for="op">Знайти працівника з найбільшою кількістю клієнтів за заданий період</a>
    {{/if}}
    <label for="prodid">:</label>
                <input type="date" id="startDate" name="startDate">
                <input type="date" id="endDate" name="endDate">

                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </div>


<script>
            function load_data(query = '') {
                fetch('/employees/get_data?search_query=' + query + '').then(function (res) {
                    return res.json();
                }).then(function (responseData) {
                    var html = '<ul class="list-group">';

                    if (responseData.length > 0) {
                        for (var count = 0; count < responseData.length; count++) {
                            var regular_expression = new RegExp('(' + query + ')', 'gi');
                            html += '<a href="#" class="list-group-item list-group-item-action" onclick="get_text(this)">' + responseData[count].empl_surname.replace(regular_expression, '<span class="text-primary fw-bold">$1</span>') + '</a>';
                        }
                    } else {
                        html += '<a href="#" class="list-group-item list-group-item-action disabled">Працівників не знайдено</a>';
                    }

                    html += '</ul>';
                    document.getElementById('search_result').innerHTML = html;
                    if (query === '') {
                        document.getElementById('search_result').style.display = 'none';
                    } else {
                        document.getElementById('search_result').style.display = 'block';
                    }
                });
            }

            var search_element = document.getElementById("searchsurname");

            search_element.onkeyup = function () {
                var query = search_element.value;
                load_data(query);
            };

            search_element.onfocus = function () {
                var query = search_element.value;
                load_data(query);
            };

            function get_text(event) {
                var product_name = event.textContent;
                console.log(product_name);
                document.getElementById('searchsurname').value = empl_surname;
                document.getElementById('search_result').innerHTML = '';
                document.getElementById('search_result').style.display = 'none';
            }
        </script>


    <div class="table-responsive">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID працівника</th>
                    <th>Ім'я</th>
                    <th>Прізвище</th>
                    <th>По-батькові</th>
                    <th>Посада</th>
                    <th>Заробітня плата</th>
                    <th>Дата народження</th>
                    <th>Дата початку роботи</th>
                    <th>Номер телефону</th>
                    <th>Місто</th>
                    <th>Вулиця</th>
                    <th>Зіп-код</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="employees-table">
                {{#each employees}}
                <tr>
                    <td>{{this.id_employee}}</td>
                    <td>{{this.empl_name}}</td>
                    <td>{{this.empl_surname}}</td>
                    <td>{{this.empl_patronymic}}</td>
                    <td>{{this.empl_role}}</td>
                    <td>{{this.salary}}</td>
                    <td>{{formatDate this.date_of_birth}}</td>
                    <td>{{formatDate this.date_of_start}}</td>
                    <td>{{this.phone_number}}</td>
                    <td>{{this.city}}</td>
                    <td>{{this.street}}</td>
                    <td>{{this.zip_code}}</td>
                    <td>
                        <a href="employees/edit/{{this.id_employee}}" class="btn btn-success btn-sm"><i
                                class="fas fa-pencil-alt"></i></a>
                        <a href="employees/delete/{{this.id_employee}}" class="btn btn-danger btn-sm"><i
                                class="fa fa-times"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
    <script>
        $(document).ready(function () {
            $('#reportBtn').on('click', function () {
                window.open('/employees/report', '_blank');
            });
        });
    </script>
    <!-- Підключаємо jQuery та Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>