<head>
    <link rel="stylesheet" href="/employees.css">
</head>

<body>
    <main class="container-fluid">
        <section id="products">
            <h2 class="mt-5">Products</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Category name</th>
                        <th>Product name</th>
                        <th>Characteristics</th>
                    </tr>
                </thead>
                <tbody id="categories-table">
                {{#each products}}
                <tr>
                    <td>{{this.id_product}}</td>
                    <td>{{this.category_name}}</td>
                    <td>{{this.product_name}}</td>
                    <td>{{this.caracteristics}}</td>
                </tr>
                {{/each}}
            </tbody>
            </table>
            <a id="morecustomers" href="/products"> More products </a>
        </section>
        <section id="sales">
            <h2 class="mt-5">Checks</h2>
            <table class="table">
                <thead>
                    <tr>
                    <th>Check number</th>
                    <th>Cashier surname</th>
                    <th>Date</th>
                    <th>Total sum</th>
                    </tr>
                </thead>
 <tbody id="checks-table">
                {{#each checks}}
                <tr>
                    <td>{{this.check_number}}</td>
                    <td>{{this.empl_surname}}</td>
                    <td>{{formatDate this.print_date}}</td>
                    <td>{{this.sum_total}}</td>
                </tr>
                {{/each}}
            </tbody>
            </table>
            <a id="morecustomers" href="/checks"> More checks</a>
        </section>
        <section id="customers">
            <h2 class="mt-5">Customers</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Customer card number</th>
                        <th>Surname</th>
                        <th>Name</th>
                        <th>Percent</th>
                    </tr>
                <tbody>
                    {{#each customers}}
                    <tr>
                        <td>{{this.card_number}}</td>
                        <td>{{this.cust_name}}</td>
                        <td>{{this.cust_surname}}</td>
                        <td>{{this.percent}}</td>

                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <a id="morecustomers" href="/customers"> More customers</a>
        </section>
    </main>

</body>
