<head>
    <link rel="stylesheet" href="/employees.css">
</head>

<body>
    <main class="container-fluid">
        <section id="products">
            <h2 class="mt-5">Товари</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID товару</th>
                        <th>Назва категорії</th>
                        <th>Назва товару</th>
                        <th>Характеристики</th>
                    </tr>
                </thead>
                <tbody id="categories-table">
                {{#each products}}
                <tr>
                    <td>{{this.id_product}}</td>
                    <td>{{this.category_name}}</td>
                    <td>{{this.product_name}}</td>
                    <td>{{this.caracteristics}}</td>
                </tr>
                {{/each}}
            </tbody>
            </table>
            <a id="morecustomers" style="color: blue;" href="/products"> Більше товарів </a>
        </section>
        <section id="sales">
            <h2 class="mt-5">Чеки</h2>
            <table class="table">
                <thead>
                    <tr>
                    <th>Номер чеку</th>
                    <th>Прізвище працівника</th>
                    <th>Дата створення</th>
                    <th>Сума покупки</th>
                    </tr>
                </thead>
 <tbody id="checks-table">
                {{#each checks}}
                <tr>
                    <td>{{this.check_number}}</td>
                    <td>{{this.empl_surname}}</td>
                    <td>{{formatDate this.print_date}}</td>
                    <td>{{this.sum_total}}</td>
                </tr>
                {{/each}}
            </tbody>
            </table>
            <a id="morecustomers" style="color: blue;" href="/checks"> Більше чеків</a>
        </section>
        <section id="customers">
            <h2 class="mt-5">Клієнти</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Номер карти</th>
                        <th>Прізвище</th>
                        <th>Ім'я</th>
                        <th>Відсоток</th>
                    </tr>
                <tbody>
                    {{#each customers}}
                    <tr>
                        <td>{{this.card_number}}</td>
                        <td>{{this.cust_name}}</td>
                        <td>{{this.cust_surname}}</td>
                        <td>{{this.percent}}</td>

                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <a id="morecustomers" style="color: blue;" href="/customers"> Більше клієнтів</a>
        </section>
    </main>

</body>
