<head>
    <link rel="stylesheet" href="/employees.css">
</head>

<body>
<div>
    <h1 class="my-5">Товари</h1>
    <div class="container">
    {{#if ismanager}}
    <a href="/products/add" class="btn btn-primary">Додати товар</a>
    {{else}}
    {{/if}}
    <div class="col-md-4">
        <div class="input-group">
          {{#if iscashier}}
                <form action="/products" method="POST">
                    <input type="text" id="searchproduct" name="searchproduct" class="form-control"
                        placeholder="Пошук за назвою товару">  
                    <button class="btn btn-outline-secondary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                {{else}}
                 {{/if}}
                  </div>
            </div>
<div id="select-category">
    <form action="/products" method="POST">
        <label for="category">Пошук за категорією:</label>
        <select id="category" name="category">
            <option value="none"></option>
            {{#each categories}}
            <option value="{{categories.category_number}}">{{categories.category_name}}</option>
            {{/each}}
        </select>
    </form>
</div>


                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
            </div>
    
    
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Номер товару</th>
                <th>Назва категорії</th>
                <th>Назва товару</th>
                <th>Характеристики</th>
                <th></th>

            </tr>
        </thead>
        <tbody id="categories-table">
            {{#each products}}
            <tr>
                <td>{{this.id_product}}</td>
                <td>{{this.category_name}}</td>
                <td>{{this.product_name}}</td>
                <td>{{this.caracteristics}}</td>
                
                <td>
                    {{#if ../ismanager}}
                    <a href="products/edit/{{this.id_product}}" class="btn btn-success btn-sm"><i
                            class="fas fa-pencil-alt"></i></a>
                    <a href="products/delete/{{this.id_product}}" class="btn btn-danger btn-sm"><i
                            class="fa fa-times"></i></a>

                {{else}}
                {{/if}}
                </td>
                
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
</div>
<!-- Підключаємо jQuery та Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>