<head>
    <link rel="stylesheet" href="/employees.css">
</head>

<body>
    <h1 class="my-5">Продукти в магазині </h1>
    <div class="col-md-4">
        <div class="input-group">
            <form action="/productsinmarket" method="POST">
                <div class="input-group">
                    <div class="container">
                        <input type="text" id="searchupc" name="searchupc" class="form-control"
                            placeholder="Введіть UPC товару">
                        <span id="search_result"></span>
                        <button class="btn btn-outline-secondary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <form id="sortForm" action="/productsinmarket" method="get">
        <label for="sortCriteria">Сортувати за:</label>
        <select name="sortCriteria" id="sortCriteria" onchange="updateSortCriteria()">
            <option value="product_name" {{#if (eq sortCriteria "product_name" )}}selected{{/if}}>Назвою товарів
            </option>
            <option value="products_number" {{#if (eq sortCriteria "products_number" )}}selected{{/if}}>Кількістю
                товарів</option>
        </select>
        <select name="sortsale" id="sortsale" onchange="updateFiltCriteria()">
            <option value="">Всі товари</option>
            <option value="onsale" {{#if (eq sortsale "onsale" )}}selected{{/if}}>Акційні</option>
            <option value="notonsale" {{#if (eq sortsale "notonsale" )}}selected{{/if}}>Не акційні</option>
        </select>
    </form>
    </div>
    {{#if ismanager}}
    <a href="/productsinmarket/add" class="btn btn-primary">Додати товар</a>
    {{/if}}

    <script>
        const sortCriteme        tById('sortCriteria');
        const urlParams = new URLSearchPar        ocation.search);
        const savedSortCriteria = urlParams        iteria');

        sortCriteriaSelect.value = savedSortC                  function updateSortCriteria() {
               st selectedSortCriteria = documen('sortCriteria').value;

            let sortDirection = '';
            etElementById('sort-name'                             sortDirection = 'asc';
            nt.getElementById('sort-            ed) {
                    sortDirection = 'desc';
            const urlParams = new UR            ndow.;
            urlParams.set('sortCriteria', selectedSortCrit                   const selectedSortSale = document.getElementByI            lue;
            urlParams.set('sortsale', selectedSortSale);



            history.replaceState(null, null, '?' + urlParams.toS                       document.getElementById('selectedSortCriteria').textCo            SortCriteria;
        }


        sortCriteriaSelect.addEventListener('change        () {
            document.getElementById('sortForm').submit();
            });
    </script>

    <script>
        function updateFiltCriteria() {
            nst = tElementById('sortsale').value;
             onst urlParams = new URLSearchParams(window.location.search);
            ms.set('sortsale', selectedSortSale);
            history.re             null, '?' + urlParams.toString());

            ductsTable = document.getElementById('productsinmarket-table');
            or(let i = 0; i < productsTable.rows.length; i++) {
                    c            ctsTable.rows[i];
                const promotional                lls[7];
                if (sele                sale' && promotionalProductCell.textContent.tr                                      row.style.display = 'none';
            } else if (selectedSort                    promotionalProductCell.textCo                ') {
            row.style.display = 'none';
        } else {
            y = '';
        }                                              .getElementById('sortCrit                ner            ion                     t.getElementById('sortForm').submit();
            });
    </script>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>UPC</th>
                    <th>UPC_prom</th>
                    <th>Категорія</th>
                    <th>Товар</th>
                    <th>Вартість</th>
                    <th>Кількість</th>
                    <th>Характеристика</th>
                    <th>Акційний товар</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="productsinmarket-table">
                {{#each productsinmarket}}
                <tr>
                    <td>{{this.UPC}}</td>
                    <td>{{this.UPC_prom}}</td>
                    <td>{{this.category_name}}</td>
                    <td>{{this.product_name}}</td>
                    <td>{{this.selling_price}}</td>
                    <td>{{this.products_number}}</td>
                    <td>{{this.caracteristics}}</td>
                    <td>
                        {{#if this.promotional_product}}
                        так
                        {{else}}
                        ні
                        {{/if}}
                    </td>

                    <td>
                        {{#if ../ismanager}}
                        <a href="productsinmarket/edit/{{this.UPC}}" class="btn btn-success btn-sm"><i
                                class="fas fa-pencil-alt"></i></a>
                        <a href="productsinmarket/delete/{{this.UPC}}" class="btn btn-danger btn-sm"><i
                                class="fa fa-times"></i></a>
                        {{else}}
                        {{/if}}
                    </td>

                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>


    <!-- Підключаємо jQuery та Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>