<head>
    <link rel="stylesheet" href="/employees.css">
</head>

<body>
<div>
    <h1 class="my-5">Товари</h1>

    <form action="/products" method="POST">
        <div class="form-group">
            <label for="searchbycategory">Пошук за категорією:</label>
            <select id="searchbycategory" name="searchbycategory" class="form-control" required>
                {{#each categories}}
                <option value="{{this.category_number}}">{{this.category_number}} {{this.category_name}}</option>
                {{/each}}
            </select>
            <button class="btn btn-outline-secondary" type="submit">
                    <i class="fas fa-search"></i>
                </button>
        </div>
        </form>

    <div class="container"></div>
    {{#if ismanager}}
    <a href="/products/add" class="btn btn-primary">Додати товар</a>
    {{else}}
    {{/if}}
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Номер товару</th>
                <th>Назва категорії</th>
                <th>Назва товару</th>
                <th>Характеристики</th>
                <th></th>

            </tr>
        </thead>
        <tbody id="categories-table">
            {{#each products}}
            <tr>
                <td>{{this.id_product}}</td>
                <td>{{this.category_name}}</td>
                <td>{{this.product_name}}</td>
                <td>{{this.caracteristics}}</td>
                
                <td>
                    {{#if ../ismanager}}
                    <a href="products/edit/{{this.id_product}}" class="btn btn-success btn-sm"><i
                            class="fas fa-pencil-alt"></i></a>
                    <a href="products/delete/{{this.id_product}}" class="btn btn-danger btn-sm"><i
                            class="fa fa-times"></i></a>

                {{else}}
                {{/if}}
                </td>
                
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
</div>
<!-- Підключаємо jQuery та Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>