<head>
    <link rel="stylesheet" href="/products.css">
</head>

<body>
    <body>
    <div class="container" id="more" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>

    <div id="settings">
        {{#if ismanager}}
    <button id="reportBtn" class="btn btn-primary btn-sm">Store products report</button>
    <a href="/productsinmarket/add" class="btn btn-primary">Add product</a>
    {{else}}
    {{/if}}
 
            <form action="/productsinmarket" method="POST">
                <div class="input-group">
                    <div class="container">
                        <input type="text" id="searchupc" name="searchupc" class="form-control"
                            placeholder="Enter UPC...">
                        <span id="search_result"></span>
                    </div>
                </div>
            </form>


    <form action="/productsinmarket" method="POST">
        <label for="sortCriteria">Sort by:</label>
        <select name="sortCriteria" id="sortCriteria">
            <option value="none" {{#if (eq sortCriteriaValue 'none' )}}selected{{/if}}></option>
            <option value="product_name" {{#if (eq sortCriteriaValue 'product_name' )}}selected{{/if}}>Product name
            </option>
            <option value="products_number" {{#if (eq sortCriteriaValue 'products_number' )}}selected{{/if}}>Product
                quantity</option>
        </select>

        <select name="sortsale" id="sortsale">
            <option value="none" {{#if (eq sortSaleValue 'none' )}}selected{{/if}}>All products</option>
            <option value="1" {{#if (eq sortSaleValue '1' )}}selected{{/if}}>Promotional</option>
            <option value="0" {{#if (eq sortSaleValue '0' )}}selected{{/if}}>Non-promotional</option>
        </select>

    </form>
    </div>


    

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>UPC</th>
                    <th>Category</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Characteristics</th>
                    <th>Promotional</th>
                    <th style="width: 15%;"></th>
                </tr>
            </thead>
            <tbody id="productsinmarket-table">
                {{#each productsinmarket}}
                <tr>
                    <td>{{this.UPC}}</td>
                    <td>{{this.category_name}}</td>
                    <td>{{this.product_name}}</td>
                    <td>{{this.selling_price}}</td>
                    <td>{{this.products_number}}</td>
                    <td>{{this.caracteristics}}</td>
                    <td>
                        {{#if this.promotional_product}}
                        yes
                        {{else}}
                        no
                        {{/if}}
                    </td>

                    <td>
                        {{#if ../ismanager}}
                        <div class="btn-group" role="group">
                            <a href="productsinmarket/edit/{{this.UPC}}" class="btn btn-success btn-sm"><i
                                    class="fas fa-pencil-alt"></i></a>
                            <a href="productsinmarket/delete/{{this.UPC}}" class="btn btn-danger btn-sm"><i
                                    class="fa fa-times"></i></a>
                        </div>
                        {{else}}
                        {{/if}}
                    </td>

                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>


    <script>
        $(document).ready(function () {
            $('#reportBtn').on('click', function () {
                window.open('/productsinmarket/report', '_blank');
            });
        });

        window.addEventListener('DOMContentLoaded', function () {
            var sortCriteriaSelect = document.getElementById('sortCriteria');
            var sortSaleSelect = document.getElementById('sortsale');

            if (localStorage.getItem('selectedSortCriteria')) {
                sortCriteriaSelect.value = localStorage.getItem('selectedSortCriteria');
            }

            if (localStorage.getItem('selectedSortSale')) {
                sortSaleSelect.value = localStorage.getItem('selectedSortSale');
            }

            sortCriteriaSelect.addEventListener('change', function () {
                localStorage.setItem('selectedSortCriteria', sortCriteriaSelect.value);
            });

            sortSaleSelect.addEventListener('change', function () {
                localStorage.setItem('selectedSortSale', sortSaleSelect.value);
            });

            document.getElementById('sortCriteria').addEventListener('change', function () {
                this.form.submit();
            });

            document.getElementById('sortsale').addEventListener('change', function () {
                this.form.submit();
            });

            const urlParams = new URLSearchParams(window.location.search);
            const savedSortCriteria = urlParams.get('sortCriteria');
            sortCriteriaSelect.value = savedSortCriteria;

            function updateSortCriteria() {
                const selectedSortCriteria = document.getElementById('sortCriteria').value;

                let sortDirection = '';
                if (document.getElementById('sort-name').checked) {
                    sortDirection = 'asc';
                } else if (document.getElementById('sort-quantity').checked) {
                    sortDirection = 'desc';
                }

                urlParams.set('sortCriteria', selectedSortCriteria);
                const selectedSortSale = document.getElementById('sortsale').value;
                urlParams.set('sortsale', selectedSortSale);

                history.replaceState(null, null, '?' + urlParams.toString());

                document.getElementById('selectedSortCriteria').textContent = selectedSortCriteria;
            }

            sortCriteriaSelect.addEventListener('change', function () {
                document.getElementById('sortForm').submit();
            });

            function load_data(query = '') {
                fetch('/productsinmarket/get_data?search_query=' + query + '').then(function (res) {
                    return res.json();
                }).then(function (responseData) {
                    var html = '<ul class="list-group">';

                    if (responseData.length > 0) {
                        for (var count = 0; count < responseData.length; count++) {
                            var regular_expression = new RegExp('(' + query + ')', 'gi');
                            html += '<a href="#" class="list-group-item list-group-item-action" onclick="get_text(this)">' + responseData[count].UPC.replace(regular_expression, '<span class="text-primary fw-bold">$1</span>') + '</a>';
                        }
                    } else {
                        html += '<a href="#" class="list-group-item list-group-item-action disabled">Товарів не знайдено</a>';
                    }

                    html += '</ul>';

                    document.getElementById('search_result').innerHTML = html;
                    if (query === '') {
                        document.getElementById('search_result').style.display = 'none';
                    } else {
                        document.getElementById('search_result').style.display = 'block';
                    }
                });
            }

            var search_element = document.getElementById("searchupc");

            search_element.onkeyup = function () {
                var query = search_element.value;
                load_data(query);
            };

            search_element.onfocus = function () {
                var query = search_element.value;
                load_data(query);
            };

            function get_text(event) {
                var product_name = event.textContent;
                document.getElementById('searchupc').value = product_name;
                document.getElementById('search_result').innerHTML = '';
                document.getElementById('search_result').style.display = 'none';
            }

            function updateFiltCriteria() {
                const selectedSortSale = document.getElementById('sortsale').value;
                urlParams.set('sortsale', selectedSortSale);
                history.replaceState(null, null, '?' + urlParams.toString());
                const productsTable = document.getElementById('productsinmarket-table');
                for (let i = 0; i < productsTable.rows.length; i++) {
                    const row = productsTable.rows[i];
                    const promotionalProductCell = row.cells[7];
                    if (selectedSortSale === 'onsale' && promotionalProductCell.textContent.trim() !== 'так') {
                        row.style.display = 'none';
                    } else if (selectedSortSale === 'notonsale' && promotionalProductCell.textContent.trim() !== 'ні') {
                        row.style.display = 'none';
                    } else {
                        row.style.display = '';
                    }
                }
            }

            $(document).ready(function () {
                $('#reportBtn').on('click', function () {
                    window.open('/productsinmarket/report', '_blank');
                });
            });

        }); 
        var settingsDiv = document.getElementById("settings");
            settingsDiv.style.display = "none";
            
            function myFunction(x) {
            x.classList.toggle("change");
            var settingsDiv = document.getElementById("settings");

            // Toggle the visibility of the settings div
            if (settingsDiv.style.display === "none") {
                settingsDiv.style.display = "block";
            } else {
                settingsDiv.style.display = "none";
            }
        }
    </script>



    <!-- Підключаємо jQuery та Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>