<head>
    <link rel="stylesheet" href="/profile.css">
</head>


<body>
    <h1 class="my-5">My profile</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="profile">
                    <div class="record">
                        <span class="label">Login:</span>
                        <span class="value">{{profile.login}}</span>
                    </div>
                    <div class="record">
                        <span class="label">Name:</span>
                        <span class="value">{{profile.empl_name}}</span>
                    </div>
                    <div class="record">
                        <span class="label">Surname:</span>
                        <span class="value">{{profile.empl_surname}}</span>
                    </div>
                    <div class="record">
                        <span class="label">Patronymic:</span>
                        <span class="value">{{profile.empl_patronymic}}</span>
                    </div>
                    <div class="record">
                        <span class="label">Birthday:</span>
                        <script>
                            var dateOfBirth = new Date('{{profile.date_of_birth}}');
                            var formattedDate = ('0' + dateOfBirth.getDate()).slice(-2) + '.' +
                                ('0' + (dateOfBirth.getMonth() + 1)).slice(-2) + '.' +
                                dateOfBirth.getFullYear();
                            document.write('<span class="value">' + formattedDate + '</span>');
                        </script>
                    </div>

                    <div class="record">
                        <span class="label">Role:</span>
                        <span class="value ">{{profile.empl_role}}</span>
                    </div>
                    <div class="record">
                        <span class="label">Salary:</span>
                        <span class="value">{{profile.salary}}</span>
                    </div>
                    <div class="record">
                        <span class="label">Day of start of work:</span>
                        <script>
                            var dateOfBirth = new Date('{{profile.date_of_start}}');
                            var formattedDate = ('0' + dateOfBirth.getDate()).slice(-2) + '.' +
                                ('0' + (dateOfBirth.getMonth() + 1)).slice(-2) + '.' +
                                dateOfBirth.getFullYear();
                            document.write('<span class="value">' + formattedDate + '</span>');
                        </script>
                    </div>
                    <div class="record">
                        <span class="label">Phone number:</span>
                        <span class="value">{{profile.phone_number}}</span>
                    </div>
                    <div class="record">
                        <span class="label">City:</span>
                        <span class="value">{{profile.city}}</span>
                    </div>
                    <div class="record">
                        <span class="label">Street:</span>
                        <span class="value">{{profile.street}}</span>
                    </div>
                    <div class="record">
                        <span class="label">Zip-code:</span>
                        <span class="value">{{profile.zip_code}}</span>
                    </div>
                </div>
                <a href="/profile/change-password" class="btn btn-primary">Change password</a>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>